<main>
  <div class="tasks">
    <div class="tasks--group" *ngIf="group">
      <div class="tasks--group--title">
        <mat-icon routerLink="/groups">keyboard_backspace</mat-icon>
        <h1>{{ group.title }}</h1>
      </div>

      <p>{{ group.description }}</p>
    </div>
    <div class="tasks--add" (click)="openCreateTaskDialog()" [class.disabled]="isCreatingTask">
      <mat-icon *ngIf="!isCreatingTask">add</mat-icon>
      <mat-progress-spinner *ngIf="isCreatingTask" diameter="25" mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>

    <div class="tasks--list">
      <mat-progress-spinner *ngIf="isLoadingTasks" diameter="30" mode="indeterminate" color="primary"></mat-progress-spinner>

      <ng-container *ngIf="tasks.length > 0">
        <div class="tasks--list--item" [class.tasks--list--item__done]="task.isDone"
             *ngFor="let task of tasks; trackBy: trackTaskById">
          <div class="tasks--list--item--inner" (click)="toggleTaskDone(task)">
            <p>{{ task.content }}</p>
          </div>
          <div class="tasks--list--item--options">
            <mat-icon (click)="toggleTaskDone(task)">{{task.isDone ? 'done' : 'close'}}</mat-icon>
            <mat-icon (click)="deleteTask(group.id)">delete_forever</mat-icon>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="tasks.length === 0 && !isLoadingTasks">
        <p>Create a new task above :D</p>
      </ng-container>
    </div>
  </div>
</main>
