<main>
  <div class="groups">
    <div class="groups--add" (click)="openCreateGroupDialog()" [class.disabled]="isCreatingGroup">
      <mat-icon *ngIf="!isCreatingGroup">add</mat-icon>
      <mat-progress-spinner *ngIf="isCreatingGroup" diameter="25" mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>

    <div class="groups--list">
      <mat-progress-spinner *ngIf="isLoadingGroups" diameter="30" mode="indeterminate" color="primary"></mat-progress-spinner>

      <ng-container *ngIf="taskGroups.length > 0">
        <div class="groups--list--item" [class.groups--list--item__done]="group.taskCount > 0 && group.taskCountCompleted === group.taskCount"
             *ngFor="let group of taskGroups; trackBy: trackGroupById">
          <div class="groups--list--item--inner" [routerLink]="'/groups/' + group.id">
            <h3>{{ group.title }}</h3>
            <p>{{ group.description }}</p>
            <span>{{ group.taskCount === 0 ? 'Empty group' : group.taskCountCompleted + '/'+ group.taskCount + ' Tasks'}}</span>
          </div>
          <mat-icon (click)="deleteGroup(group.id)">delete_forever</mat-icon>
        </div>
      </ng-container>

      <ng-container *ngIf="taskGroups.length === 0 && !isLoadingGroups">
        <p>Create a new task group to start =)</p>
      </ng-container>
    </div>
  </div>
</main>
