<div class="task">
  <div class="task--container">
    <div class="task--container--header">
      <h1 data-test="title">{{ task?.title }}</h1>
      <span data-test="date">{{ 'a' }}</span>
    </div>

    <p data-test="description">{{ task?.description }}</p>
  </div>

  <div class="task--checkbox" data-test="check-box" (click)="task.completed = true">
    <ng-container *ngIf="task.completed">
      <img data-test="check-image" src="assets/imgs/checkmark-outline.svg" alt="">
    </ng-container>
  </div>
</div>
