* {
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --color-gray: #737373;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 50%;
  min-width: 5rem;

  margin: auto;

  button {
    width: 100%;
  }

  mat-progress-spinner {
    position: absolute;
    right: -2rem;
  }
}
